p {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  height: 570px;
}

li {
  border: 1px solid #000;
}

li:hover {
  border: 3px solid red;
}

#container {
  width: 100%;
  margin: 10px 0px 10px 0px;
  background: #fff;
  position: absolute;
  height: 650px;
  overflow: hidden;
}

#left_col {
  float: left;
  width: 30%;
  height: 650px;
  color: #000;
  background: #fff;
  position: relative;
}

#right_col {
  float: right;
  width: 70%;
  height: 650px;
  color: red;
  background: #fff;
  position: relative;
}

#mapid {
  height: 650px;
  width: 100%;
}
